<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Danh sách thuốc - VH PHARMA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
    <link rel="shortcut icon" type="image/png" href="/img/logo.jpg">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">VH <span>PHARMA</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="/" class="nav-item nav-link">Trang chủ</a>
                <a href="/about" class="nav-item nav-link">Giới thiệu</a>
                <a href="/team" class="nav-item nav-link">Bác sĩ</a>
                <a href="/menu" class="nav-item nav-link active">Danh sách</a>
                <a href="/booking" class="nav-item nav-link">Đơn đặt</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Góc sức khỏe</a>
                    <div class="dropdown-menu">
                        <a href="/blog" class="dropdown-item">Mới Nhất</a>
                        <a href="/single" class="dropdown-item">Blog</a>
                    </div>
                </div>
                <a href="/contact" class="nav-item nav-link">Liên hệ</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Danh sách thuốc</h2>
            </div>
            <div class="col-12">
                <a href="/">Trang chủ</a>
                <a href="/menu">Danh sách thuốc</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Menu Start -->
<div class="menu">
    <div class="container">
        <div class="section-header text-center">
            <p>Danh sách thuốc</p>
            <h2>Danh sách thuốc gia truyền</h2>
        </div>

        <div class="row">
            <!-- Sản phẩm ví dụ -->
            <div class="col-md-4">
                <div class="single-product">
                    <div class="product-img">
                        <img class="default-img" src="/img/menu-dactri-1.jpg" alt="Thảo dược xịt mũi">
                    </div>
                    <div class="product-content">
                        <h3>Thảo dược xịt mũi</h3>
                        <div class="product-price">
                            <span>450.000 đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thêm các sản phẩm khác vào đây -->
        </div>
    </div>
</div>
<!-- Menu End -->

<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-contact">
                    <h2>Liên hệ</h2>
                    <p><i class="fa fa-map-marker-alt"></i>123 Hòa Khánh, Đà Nẵng</p>
                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope"></i>vhpharma@gmail.com</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-link">
                    <h2>Thông tin</h2>
                    <a href="/privacy">Chính sách bảo mật</a>
                    <a href="/terms">Điều khoản sử dụng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>
