<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nhà thuốc đông y VH PHARMA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
    <link rel="shortcut icon" type="image/png" href="/img/logo.jpg">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">VH <span>PHARMA</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="/" class="nav-item nav-link active">Trang chủ</a>
                <a href="/about" class="nav-item nav-link">Giới thiệu</a>
                <a href="/team" class="nav-item nav-link">Bác sĩ</a>
                <a href="/menu" class="nav-item nav-link">Danh sách</a>
                <a href="/booking" class="nav-item nav-link">Đơn đặt</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Góc sức khỏe</a>
                    <div class="dropdown-menu">
                        <a href="/blog" class="dropdown-item">Mới Nhất</a>
                        <a href="/single" class="dropdown-item">Blog</a>
                    </div>
                </div>
                <a href="/contact" class="nav-item nav-link">Liên hệ</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

<!-- Nội dung trang -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/img/carousel-1.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Mang đến <span>giá trị</span> tốt nhất</h1>
                    <p>
                        Hàng trăm năm có mặt, hàng vạn người tin dùng. <br>
                        Một phương thức gia truyền, một niềm tin trọn vẹn.
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="#danhsach">Xem danh sách</a>
                        <a class="btn custom-btn" href="#booking">Đặt lịch</a>
                    </div>
                </div>
            </div>
            <!-- Các mục carousel khác -->
        </div>
    </div>
</div>

<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2>Địa chỉ</h2>
                            <p><i class="fa fa-map-marker-alt"></i>123 Hòa Khánh, Đà Nẵng, Việt Nam</p>
                            <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                            <p><i class="fa fa-envelope"></i>vhpharma@gmail.com</p>
                            <div class="footer-social">
                                <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram"></i></a>
                                <a href="https://vn.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Điều hướng nhanh</h2>
                            <a href="/đksd">Điều khoản sử dụng</a>
                            <a href="/csbm">Chính sách bảo mật</a>
                            <a href="#">Cookies</a>
                            <a href="#">Hỗ trợ</a>
                            <a href="#">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-newsletter">
                    <h2>Tin tức</h2>
                    <p>
                        Trải qua hơn 100 năm ra đời và phát triển, thuốc viêm xoang gia truyền của nhà thuốc đã được lưu truyền qua nhiều đời.
                    </p>
                    <div class="form">
                        <input class="form-control" placeholder="Điền Email để được tư vấn">
                        <button class="btn custom-btn">Gửi đi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Footer End -->

<!-- Back-to-top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>
